@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Mission.css" rel="stylesheet" />

<!-- ======================================== Main ============================================== -->
<div id="Main">
    <h1 class="headerText">Mission</h1>
    <img src="../images/Ncollege.jpg" width="400" height="400" alt="Ncollege" class="imgNCollege">
    @*<img src="../images/missionImage.jpg" width="400" height="400" alt="mission" class="imgMission">*@
    <p class="contentText">
        @*Suspendisse arcu nibh, laoreet non arcu non, viverra interdum augue. Praesent at vestibulum lectus. Nulla auctor, orci eget ultricies interdum, augue elit volutpat risus, ac feugiat urna nisl at erat. Nunc at lectus at mauris consectetur ultrices ac varius mauris. Sed sed ipsum pharetra, vehicula nisl nec, ultrices est. Pellentesque metus leo, dapibus euismod rutrum vitae, viverra at turpis. Donec porta tellus ullamcorper, consequat eros ac, condimentum felis. Vestibulum consequat dui vitae interdum accumsan. Fusce lacinia, erat nec aliquet suscipit, neque sem laoreet felis, et ullamcorper tortor elit et dolor. Etiam quis nisl massa. Mauris convallis erat urna, ac bibendum erat euismod ut. Fusce eget leo pellentesque, tempus est vel, gravida odio. Integer vitae eros consectetur, euismod orci sit amet, dignissim ligula. In nisl ligula, tincidunt iaculis lacus eu, dictum pharetra dui. Cras ac risus porttitor, ullamcorper arcu vel, cursus felis.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dignissim dui. Cras elementum nulla sit amet lectus molestie congue. Ut vulputate cursus libero. Quisque hendrerit, tellus id semper semper, leo nulla dapibus orci, sit amet eleifend nunc massa quis elit. Ut commodo faucibus risus, non rhoncus massa tempus et. Nullam ipsum nisl, luctus sed faucibus a, iaculis vitae arcu. Ut vitae dolor nisi. Maecenas blandit imperdiet dui at ultricies.*@
        We want to be an informational system. Teachers, Educational Assistants, Parents, Personal Support Counselors, and Developmental Services Workers are a community of individuals who want to make a better life for those around us. We as a community realize that we are all on different journeys in our world and learning, and we realize that some are simply further along in their educational development than others. As such, similar to any community we need to support and respect each other in our learning development. Each of us have the right to expect that the members further ahead in their journey will provide help and direction when asked, however, in accepting this help we must also accept the responsibility to provide assistance to those that follow along behind us. 
    </p>

    @*<h1 class="headerText">Background</h1>
    <img src="../images/Ncollege.jpg" width="400" height="400" alt="Ncollege" class="imgNCollege">
    <p class="contentText">
        Suspendisse arcu nibh, laoreet non arcu non, viverra interdum augue. Praesent at vestibulum lectus. Nulla auctor, orci eget ultricies interdum, augue elit volutpat risus, ac feugiat urna nisl at erat. Nunc at lectus at mauris consectetur ultrices ac varius mauris. Sed sed ipsum pharetra, vehicula nisl nec, ultrices est. Pellentesque metus leo, dapibus euismod rutrum vitae, viverra at turpis. Donec porta tellus ullamcorper, consequat eros ac, condimentum felis. Vestibulum consequat dui vitae interdum accumsan. Fusce lacinia, erat nec aliquet suscipit, neque sem laoreet felis, et ullamcorper tortor elit et dolor. Etiam quis nisl massa. Mauris convallis erat urna, ac bibendum erat euismod ut. Fusce eget leo pellentesque, tempus est vel, gravida odio. Integer vitae eros consectetur, euismod orci sit amet, dignissim ligula. In nisl ligula, tincidunt iaculis lacus eu, dictum pharetra dui. Cras ac risus porttitor, ullamcorper arcu vel, cursus felis.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dignissim dui. Cras elementum nulla sit amet lectus molestie congue. Ut vulputate cursus libero. Quisque hendrerit, tellus id semper semper, leo nulla dapibus orci, sit amet eleifend nunc massa quis elit. Ut commodo faucibus risus, non rhoncus massa tempus et. Nullam ipsum nisl, luctus sed faucibus a, iaculis vitae arcu. Ut vitae dolor nisi. Maecenas blandit imperdiet dui at ultricies.
    </p>*@
    @Html.ActionLink("Meet our staff", "Staff", "About")
</div>
