@{
    ViewBag.Title = "Mission";
}
@*<link href="~/Content/Site.css" rel="stylesheet" />*@
<link href="~/Content/Staff.css" rel="stylesheet" />
<!-- ======================================== Main ============================================== -->
<h1 id="disTitle" style="color: #1892db; font-size: 2.5em;">Staff</h1>


<h2>Mary Vanscoy</h2>
<img src="../images/Mary.jpg" width="400" height="400" alt="Mary_Vanscoy" class="imgstaff">
<p class="contentText">
    <b>Position: </b> Child/Youth Counsellor<br>
    <b>Campus: </b> Welland<br>
    @*<b>Heading: </b> Filler<br>
    <b>Heading: </b> Filler<br>
    <b>Heading: </b> Filler*@
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dignissim dui. Cras elementum nulla sit amet lectus molestie congue. Ut vulputate cursus libero. Quisque hendrerit, tellus id semper semper, leo nulla dapibus orci, sit amet eleifend nunc massa quis elit. Ut commodo faucibus risus, non rhoncus massa tempus et. Nullam ipsum nisl, luctus sed faucibus a, iaculis vitae arcu. Ut vitae dolor nisi. Maecenas blandit imperdiet dui at ultricies.
</p>
<div class="line"></div>
<h2>Terry Poirer</h2>
<img src="../images/Terry.png" width="400" height="400" alt="Terry_Poirer" class="imgstaff">
<p class="contentText">
    <b>Position: </b> Child/Youth Counsellor<br>
    <b>Campus: </b> Welland<br>
    @*<b>Heading: </b> Filler<br>
    <b>Heading: </b> Filler<br>
    <b>Heading: </b> Filler*@
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis dignissim dui. Cras elementum nulla sit amet lectus molestie congue. Ut vulputate cursus libero. Quisque hendrerit, tellus id semper semper, leo nulla dapibus orci, sit amet eleifend nunc massa quis elit. Ut commodo faucibus risus, non rhoncus massa tempus et. Nullam ipsum nisl, luctus sed faucibus a, iaculis vitae arcu. Ut vitae dolor nisi. Maecenas blandit imperdiet dui at ultricies.
</p>
<div class="space"></div>