@{
    ViewBag.Title = "Technology Access Centre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/map.css" rel="stylesheet" />

<div id="main">
    <div id="disTitleSec">
        <h2 class="headerText">Technology Centre</h2>
    </div>
    <br />
    <img src="../images/apple.jpg" width="954" height="300" alt="technology center">

    <p>Our technology center is located at Niagara College at the Welland Campus. The technology center contains many great resources to assist people with certain learning disabilities. There are learning sessions that are constantly being held to teach the public about learning disabilities and how to assist those in need. Book your attendance at one of our sessions today!</p>
    

    <h2 class="headerText1">Assistive Technology Provided at Our Technology Center</h2>

    <table id="techTable">
        <tr>
            <td class="t1">
                Braille embossers
            </td>
            <td class="t2">
                transfer computer generated text into embossed Braille output. Braille translation programs convert text scanned-in or generated via standard word processing programs into Braille, which can be printed on the embosser.
            </td>
        </tr>
        <tr>
            <td class="t1">
                Screen enlargers, or screen magnifiers
            </td>
            <td class="t2">
                work like a magnifying glass for the computer by enlarging a portion of the screen which can increase legibility and make it easier to see items on the computer. Some screen enlargers allow a person to zoom in and out on a particular area of the screen.
            </td>
        </tr>
        <tr>
            <td class="t1">
                Screen readers
            </td>
            <td class="t2">
                used to verbalize, or "speak," everything on the screen including text, graphics, control buttons, and menus into a computerized voice that is spoken aloud. In essence, a screen reader transforms a graphic user interface (GUI) into an audio interface. Screen readers are essential for computer users who are blind.
            </td>
        </tr>
        <tr>
            <td class="t1">
                Speech recognition or voice recognition program
            </td>
            <td class="t2">
                allow people to give commands and enter data using their voices rather than a mouse or keyboard. Voice recognition systems use a microphone attached to the computer, which can be used to create text documents such as letters or e-mail messages, browse the Internet, and navigate among applications and menus by voice.
            </td>
        </tr>
        <tr>
            <td class="t1">
                Alternative keyboards
            </td>
            <td class="t2">
                featuring larger- or smaller-than-standard keys or keyboards, alternative key configurations, and keyboards for use with one hand.
            </td>
        </tr>
    </table>
    <br />
    <div id="englishMap" class="maps">
        <iframe src="https://mapsengine.google.com/map/embed?mid=zm3xzuGtxgbk.k411zks91UQU" width="954" height="500"></iframe><br /><small><a href="https://mapsengine.google.com/map/edit?hl=en&authuser=0&mid=zm3xzuGtxgbk.k411zks91UQU">View Larger Map</a></small>
    </div>
</div>