@{
    ViewBag.Title = "LearningDisabilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Information.css" rel="stylesheet" />

<!--======================================= MAIN ========================================================-->

<h2 class="headerText">Learning Disabilities</h2>
<p class="topLink">@Html.ActionLink("Developmental Disabilities", "DevelopmentalDisabilities", "Information") | @Html.ActionLink("ADHD", "ADHD", "Information")</p>


<p class="contentText">
    Two to three per cent of people with Down syndrome have a translocation pattern. In translocation, during cell division, a part of the number 21 chromosome breaks off and attaches itself to another chromosome, usually the number 14 chromosome. About two-thirds of these translocations occur spontaneously while the rest are inherited from a parent. If the chromosome test shows a translocation, it is recommended that the parents have their own chromosomes analysed as the chance of having other children with Down syndrome may increase significantly.
    <br><br>
    Approximately two per cent of people with Down syndrome have mosaicism. In this case, a faulty cell division occurs in one of the early cell divisions after conception, resulting in some cells having 46 chromosomes and some having 47. The percentage of cells with 47 chromosomes instead of 46 varies from person to person. <br><br>
    <b>Here are some strategies to follow when dealing with someone who has Down Syndrome: </b>
    <br /><b>Acquisition of knowledge</b>
    <ol>
        <li>Be as concrete and explicite as possible</li>
        <li>Ascertain the learner's ideal learning and instructinal style</li>
        <li>Use visual demonstration along with verbally taught material to teach new information</li>
        <li>Present novel material in small chuncks</li>
        <li>Repetition of information can be an asset and will help the learner consolidate the material</li>
        <li>Design material to be taught in a way that makes it more presonal to the learner</li>
        <li>Make ceartian thought frequent checks that the learner is comprehending the information</li>
        <li>Continualy reinforce information through various mediums(visual and auditory aids)</li>
        <li>Allow for time for review</li>
        <li>May need to acquire appropriate social and behavioural skills</li>
    </ol>
    <br /><b>Memory</b>
    <ol>
        <li>Try and develop links between new information and prior knowledge</li>
        <li>Instruct and teach students to chunck information into smaller bits of material to assist in retention</li>
        <li>Help students generate ways to link memories-memory cues that are personal and meaningful for them</li>
        <li>Repetition of material is an asset</li>
        <li>Generate an enviroment where students do not have to rely heavily on memory</li>
        <li>Teach learners to use memory aids(e.g., calendars, day timer, Black Berry, cheat sheets)</li>
        <li>Have a fellow student notes share and/or have a note taker take notes for the learner</li>
        <li>Creat work/assignment sheets to be carried with them-back this up with a helper or tacher ensuring that it is filled in properly</li>
        <li>Use multi-modakities(visual, tackle, and visual cues)</li>
        <li>Use rhyme, poems, and songs where applicable</li>
        <li>Chunk work into smaller more manageable pieces</li>
    </ol>
</p>

